/* line 4, ../play-flyway/stylesheets/all.css.scss */
body {
  padding-top: 50px; }

/* line 8, ../play-flyway/stylesheets/all.css.scss */
a.anchor {
  display: block;
  position: relative;
  top: -60px;
  visibility: hidden; }

/* line 11, ../play-flyway/stylesheets/all.css.scss */
div#header {
  background-color: #c8efea; }

/* line 15, ../play-flyway/stylesheets/all.css.scss */
div#nav {
  margin: 30px 0 30px 0; }

/* line 19, ../play-flyway/stylesheets/all.css.scss */
img {
  max-width: 100%; }

/* line 23, ../play-flyway/stylesheets/all.css.scss */
#claim {
  margin: 30px 0 30px 0; }

/* line 27, ../play-flyway/stylesheets/all.css.scss */
br + br {
  line-height: 0;
  height: 0;
  display: none; }

/* line 32, ../play-flyway/stylesheets/all.css.scss */
p {
  margin: 1em 0; }

/* line 35, ../play-flyway/stylesheets/all.css.scss */
blockquote {
  margin: 14px 0;
  border-left: 4px solid #DDD;
  padding-left: 11px;
  color: #555; }

/* line 41, ../play-flyway/stylesheets/all.css.scss */
pre, code {
  font-family: 'Bitstream Vera Sans Mono','Courier',monospace; }

/* line 44, ../play-flyway/stylesheets/all.css.scss */
pre {
  background-color: #F8F8F8;
  border: 1px solid #CCC;
  font-size: 13px;
  line-height: 19px;
  overflow: auto;
  padding: 6px 10px;
  border-radius: 3px;
  color: black; }

/* line 54, ../play-flyway/stylesheets/all.css.scss */
code {
  margin: 0 2px;
  padding: 2px 5px;
  white-space: nowrap;
  border: 1px solid #CCC;
  background-color: #F8F8F8;
  border-radius: 3px;
  font-size: 12px !important; }

/* line 63, ../play-flyway/stylesheets/all.css.scss */
pre > code {
  margin: 0px;
  padding: 0px;
  white-space: pre;
  border: none;
  background-color: transparent;
  border-radius: 0; }

/* line 71, ../play-flyway/stylesheets/all.css.scss */
a, a code {
  color: #4183C4;
  text-decoration: none; }

/* line 75, ../play-flyway/stylesheets/all.css.scss */
a:hover, a code:hover {
  text-decoration: underline; }

/* line 78, ../play-flyway/stylesheets/all.css.scss */
.c {
  color: #998;
  font-style: italic; }

/* line 79, ../play-flyway/stylesheets/all.css.scss */
.err {
  color: #a61717;
  background-color: #e3d2d2; }

/* line 80, ../play-flyway/stylesheets/all.css.scss */
.k {
  font-weight: bold; }

/* line 81, ../play-flyway/stylesheets/all.css.scss */
.o {
  font-weight: bold; }

/* line 82, ../play-flyway/stylesheets/all.css.scss */
.cm {
  color: #998;
  font-style: italic; }

/* line 83, ../play-flyway/stylesheets/all.css.scss */
.cp {
  color: #999;
  font-weight: bold; }

/* line 84, ../play-flyway/stylesheets/all.css.scss */
.c1 {
  color: #998;
  font-style: italic; }

/* line 85, ../play-flyway/stylesheets/all.css.scss */
.cs {
  color: #999;
  font-weight: bold;
  font-style: italic; }

/* line 86, ../play-flyway/stylesheets/all.css.scss */
.gd {
  color: #000;
  background-color: #fdd; }

/* line 87, ../play-flyway/stylesheets/all.css.scss */
.gd .x {
  color: #000;
  background-color: #faa; }

/* line 88, ../play-flyway/stylesheets/all.css.scss */
.ge {
  font-style: italic; }

/* line 89, ../play-flyway/stylesheets/all.css.scss */
.gr {
  color: #a00; }

/* line 90, ../play-flyway/stylesheets/all.css.scss */
.gh {
  color: #999; }

/* line 91, ../play-flyway/stylesheets/all.css.scss */
.gi {
  color: #000;
  background-color: #dfd; }

/* line 92, ../play-flyway/stylesheets/all.css.scss */
.gi .x {
  color: #000;
  background-color: #afa; }

/* line 93, ../play-flyway/stylesheets/all.css.scss */
.go {
  color: #888; }

/* line 94, ../play-flyway/stylesheets/all.css.scss */
.gp {
  color: #555; }

/* line 95, ../play-flyway/stylesheets/all.css.scss */
.gs {
  font-weight: bold; }

/* line 96, ../play-flyway/stylesheets/all.css.scss */
.gu {
  color: #800080;
  font-weight: bold; }

/* line 97, ../play-flyway/stylesheets/all.css.scss */
.gt {
  color: #a00; }

/* line 98, ../play-flyway/stylesheets/all.css.scss */
.kc {
  font-weight: bold; }

/* line 99, ../play-flyway/stylesheets/all.css.scss */
.kd {
  font-weight: bold; }

/* line 100, ../play-flyway/stylesheets/all.css.scss */
.kn {
  font-weight: bold; }

/* line 101, ../play-flyway/stylesheets/all.css.scss */
.kp {
  font-weight: bold; }

/* line 102, ../play-flyway/stylesheets/all.css.scss */
.kr {
  font-weight: bold; }

/* line 103, ../play-flyway/stylesheets/all.css.scss */
.kt {
  color: #458;
  font-weight: bold; }

/* line 104, ../play-flyway/stylesheets/all.css.scss */
.m {
  color: #099; }

/* line 105, ../play-flyway/stylesheets/all.css.scss */
.s {
  color: #d14; }

/* line 106, ../play-flyway/stylesheets/all.css.scss */
.na {
  color: #008080; }

/* line 107, ../play-flyway/stylesheets/all.css.scss */
.nb {
  color: #0086B3; }

/* line 108, ../play-flyway/stylesheets/all.css.scss */
.nc {
  color: #458;
  font-weight: bold; }

/* line 109, ../play-flyway/stylesheets/all.css.scss */
.no {
  color: #008080; }

/* line 110, ../play-flyway/stylesheets/all.css.scss */
.ni {
  color: #800080; }

/* line 111, ../play-flyway/stylesheets/all.css.scss */
.ne {
  color: #900;
  font-weight: bold; }

/* line 112, ../play-flyway/stylesheets/all.css.scss */
.nf {
  color: #900;
  font-weight: bold; }

/* line 113, ../play-flyway/stylesheets/all.css.scss */
.nn {
  color: #555; }

/* line 114, ../play-flyway/stylesheets/all.css.scss */
.nt {
  color: #000080; }

/* line 115, ../play-flyway/stylesheets/all.css.scss */
.nv {
  color: #008080; }

/* line 116, ../play-flyway/stylesheets/all.css.scss */
.ow {
  font-weight: bold; }

/* line 117, ../play-flyway/stylesheets/all.css.scss */
.w {
  color: #bbb; }

/* line 118, ../play-flyway/stylesheets/all.css.scss */
.mf {
  color: #099; }

/* line 119, ../play-flyway/stylesheets/all.css.scss */
.mh {
  color: #099; }

/* line 120, ../play-flyway/stylesheets/all.css.scss */
.mi {
  color: #099; }

/* line 121, ../play-flyway/stylesheets/all.css.scss */
.mo {
  color: #099; }

/* line 122, ../play-flyway/stylesheets/all.css.scss */
.sb {
  color: #d14; }

/* line 123, ../play-flyway/stylesheets/all.css.scss */
.sc {
  color: #d14; }

/* line 124, ../play-flyway/stylesheets/all.css.scss */
.sd {
  color: #d14; }

/* line 125, ../play-flyway/stylesheets/all.css.scss */
.s2 {
  color: #d14; }

/* line 126, ../play-flyway/stylesheets/all.css.scss */
.se {
  color: #d14; }

/* line 127, ../play-flyway/stylesheets/all.css.scss */
.sh {
  color: #d14; }

/* line 128, ../play-flyway/stylesheets/all.css.scss */
.si {
  color: #d14; }

/* line 129, ../play-flyway/stylesheets/all.css.scss */
.sx {
  color: #d14; }

/* line 130, ../play-flyway/stylesheets/all.css.scss */
.sr {
  color: #009926; }

/* line 131, ../play-flyway/stylesheets/all.css.scss */
.s1 {
  color: #d14; }

/* line 132, ../play-flyway/stylesheets/all.css.scss */
.ss {
  color: #990073; }

/* line 133, ../play-flyway/stylesheets/all.css.scss */
.bp {
  color: #999; }

/* line 134, ../play-flyway/stylesheets/all.css.scss */
.vc {
  color: #008080; }

/* line 135, ../play-flyway/stylesheets/all.css.scss */
.vg {
  color: #008080; }

/* line 136, ../play-flyway/stylesheets/all.css.scss */
.vi {
  color: #008080; }

/* line 137, ../play-flyway/stylesheets/all.css.scss */
.il {
  color: #099; }
